body {
    font: 16px/1.7 'Roboto Slab', serif;
    color: $copy_color;
    background: #fff;
}

* {
    box-sizing: border-box;
}

h1 {
    color: $heading_color;
    font-size: 31px;
    font-weight: normal;
    margin: $gutter 0 0;
}

.marit {
  color: $h1;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

.hidden {
    display: none !important;
}

// tables
table {
  border-spacing: 0
}

th {
  text-align: left;
}

// trick extra padding on bold text (carefull!)
td strong {
  padding-top: 10px;
}

a {
  color: $link_color;
   &:hover {
     color: $link_active_color;
   }
}

hr {
  margin: 28px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
