body {
    font: 16px/1.7 'Roboto Slab', serif;
    color: $copy_color;
    background: #fff;
}

* {
    box-sizing: border-box;
}

h1 {
    color: $heading_color;
    font-size: 1.6rem;
    font-weight: normal;
    margin: $gutter 0 0;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

.hidden {
    display: none !important;
}

// tables
table {
  border-spacing: 0
}

th {
  text-align: left;
}

// trick extra padding on bold text (carefull!)
td strong {
  padding-top: 10px;
}

a {
  color: $link_color;
   &:hover {
     color: $link_active_color;
   }
}
