.content {
  &__text {
    font-size: 0.8rem;
    max-width: 40rem;
    margin-top: 28px;

    &:empty {
      display: none;
    }

    h1 {
      font-size: 1.5em
    }

    h2 {
      margin-top: 28px;
    }

    img {
      max-width: 100%;
      text-align: top;
      margin-right: 24px;
    }
  }
}
