
@mixin medium {
    @media (max-width: #{$medium-width}) {
        @content;
    }
}

@mixin small {
    @media (max-width: #{$small-width}) {
        @content;
    }
}


.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;

    @include small {
        padding: 0 10px;
    }

    @include medium {
      padding: 0 20px;
    }
}
