.overview {
    margin: 0 (-$gutter_small);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    &__item {
        width: 75px; // depends on thumb size flickr
        height: 75px;
        margin: $gutter_small;
        background-color: #fff;
    }
}

.item__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .overview__item & {
        background-color: #fff;
    }

    .toggleContainer {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        background-color: #f7f7f7;

        &.is-expanded {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: $gutter_small;
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    &.zoom .toggleContainer {
        transition: clip 0.3s cubic-bezier(0, 0, 0.21, 1);
    }

}
