.tags {
    list-style: none;
    margin: 14px 0;
    padding: 0;

    &__item {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 4px;

        &__filter {

            font-family: inherit;
            font-size: 0.65rem;
            min-width: 52px;
            border: 0;
            display:inline-block;
            cursor:pointer;
            padding:6px 12px;
            background-color: $button-filter-bg;

            &.active {
                color: #fff;
                background: $link-active-color;
            }

        }
    }
}
