$gutter_small: 7px;
$gutter: 2 * $gutter_small;

$tablet-width: 900px;
$phone-width: 450px;

// colors
$button-filter-bg: #eee;
$copy_color: #6b6b6b;
$heading_color: #6b6b6b;
$link_color: #3675c7;
$link_active_color: #dc6c6c;
