body {
  font: 16px/1.7 'Roboto Slab', serif;
  background: #fff; }

* {
  box-sizing: border-box; }

h1 {
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 14px 0 0; }

h2 {
  font-size: 1.2rem; }

h3 {
  font-size: 1rem; }

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px; }
  @media (max-width: 450px) {
    .app {
      padding: 0 10px; } }

.nav {
  margin: 0 -14px;
  padding: 0;
  list-style: none; }
  .nav__item {
    display: inline-block; }
    .nav__item__link {
      display: inline-block;
      color: #6b6b6b;
      padding: 7px 14px;
      text-decoration: none;
      transition: color 0.3s ease; }
      .nav__item__link:visited {
        color: #6b6b6b; }
      .nav__item__link.is-active, .nav__item__link:hover {
        color: #dc6c6c; }

.overview {
  margin: 0 -7px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  .overview__item {
    margin: 7px;
    background-color: #fff; }

.item__close {
  font-family: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.17);
  transition: all linear 0.3s;
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: arial;
  color: #696969;
  font-size: 28px;
  text-align: center;
  transform: rotate(-45deg); }
  .item__close:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.45); }

.item__arrow {
  font-family: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.17);
  transition: all linear 0.3s;
  position: absolute;
  bottom: 10px;
  overflow: hidden;
  text-indent: -100px; }
  .item__arrow:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.45); }
  .item__arrow::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 13px;
    width: 7px;
    height: 7px;
    border: solid #696969;
    border-width: 0 2px 2px 0; }
  .item__arrow--next {
    right: 10px; }
    .item__arrow--next::before {
      transform: rotate(-45deg); }
  .item__arrow--previous {
    left: 10px; }
    .item__arrow--previous::before {
      left: 14px;
      transform: rotate(135deg); }

.item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: top 1s, left 1s, right 1s, bottom 1s, height 1s; }
  .item__wrapper.is-expanded {
    transition: clip 0.3s cubic-bezier(0, 0, 0.21, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .overview__item .item__wrapper {
    background-color: #fff; }
  .item__wrapper .toggleContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7; }
    .item__wrapper .toggleContainer.is-expanded {
      display: flex;
      transition: clip 0.3s cubic-bezier(0, 0, 0.21, 1);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 7px; }
    .item__wrapper .toggleContainer img {
      max-height: 100%;
      max-width: 100%; }

.tags {
  list-style: none;
  margin: 14px 0;
  padding: 0; }
  .tags__item {
    display: inline-block;
    margin-right: 10px; }
    .tags__item__filter {
      font-family: inherit;
      font-size: 0.75rem;
      border: 0;
      display: inline-block;
      cursor: pointer;
      padding: 6px 24px;
      background-color: #eee; }
      .tags__item__filter.active {
        color: #fff;
        background: #dc6c6c; }
