<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Portfolioz</title>
        <style>
            .photos {
                display: flex;
            }
        </style>
    </head>
    <body>
        {{>nav}}
        {{{body}}}
    </body>
</html>
